@page "/getintouch"

@{
    Layout = "_Layout";
    ViewBag.title = "Contact";
}

<link asp-append-version="true" rel="stylesheet" href="~/lib/bootstrap/css/" />
<link asp-append-version="true" rel="stylesheet" href="~/lib/css/site.css" />
<link asp-append-version="true" rel="stylesheet" href="~/lib/font-awesome/css/all.css" />



<div class="text-center my-2">
   
    <div class="lead mt-5">
        <br/>

        <h3>Contact Info</h3>
        <i class="fa fa-phone bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            0530 158 62 74
        </p>
        <i class="fa-solid fa-address-book bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            yeni sokak abc apartman
        </p>
        <i class="fa-solid fa-envelope bg-secondary text-white p-3 rounded-5 my-3"></i>
        <p>
            info@parasors.com.tr
        </p>
    </div>
</div>



<script asp-append-version="true" src="~/lib/jquery/jquery.min.js"></script>
<script asp-append-version="true" src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
<script asp-append-version="true" src="~/lib/js/site.js"></script>
<script asp-append-version="true" src="~/lib/font-awesome/js/all.min.js"></script>