<div class="container-fluid">
    <div class="footer">
        <p>
            Copyright © @DateTime.Now.Year Designed by html Mustafa Barlas All rights reserved.<br><br>
            Distributed By: <a href="/">Parasors</a>
        </p>
    </div>
</div>