@model Order

@{
    ViewBag.Title = "Process Order";
    Layout = "_Layout";
}


<body class="animsition">

    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->



        </div>

        <!-- Header Mobile -->
        <!-- Menu Mobile -->
        <!-- Modal Search -->

    </header>

    <!-- Cart -->
    <!-- Product -->
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">
            <div class="text-center" asp-validation-summary="All"></div>
            
            <a asp-controller="Address" asp-action="Create">If You do not have any address for shipping. You can add address from  <i class="fa-solid fa-location" style="color: darkblue;">Here</i>  </a>
           
               
                    <form method="post" asp-action="Checkout" >

                        <div class="form-group my-3">
                            <label >Addresses</label>
                            <select class="form-control" asp-items="@ViewBag.Adr" asp-for="AddressId">
                            </select>
                        </div>
                
                        <div class="form-group my-3">
                            <input asp-for="GiftWrap">
                            <label asp-for="GiftWrap">Gift wrap these items.</label>
                        </div>

                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                Complete Order
                            </button>
                        </div>
                    </form>
           
        </div>
    </div>
</body>
