@model ProductListViewModel




<br />
<br />
<br />
<br />
<br />
<br />
@{
    ViewBag.Title = "Home";
}

@await Component.InvokeAsync("CategoryMenu")


<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
    <div class="container">
        <div class="p-b-10">
            <h3 class="ltext-103 cl5">
                Product Overview
            </h3>
        </div>

        <div class="flex-w flex-sb-m p-b-52">
            <div class="flex-w flex-l-m filter-tope-group m-tb-10">
                
            </div>

            @await Component.InvokeAsync("ProductFilterAndSearchMenu")
        </div>

        <div class="row isotope-grid">
            @foreach (var item in Model.Products)
            {


                <partial name="_ProductCart" model="@item" />


            }


        </div>


        <div class=" text-center">
            <div page-model="@Model?.Pagination"
                 page-action="Index"
                 page-classes-enabled="true"
                 page-class="btn"
                 page-class-normal="btn-dark"
                 page-class-selected="btn-primary"
                 class="btn btn-group"></div>
        </div>
        <!-- Load more -->

    </div>
</section>


