@model List<Category>

@{
    ViewBag.Title = "Categories";
}



<br />
<br />
<br />
<br />

<body class="animsition">


    <header class="header-v4">

        <div class="container-menu-desktop">
        </div>

    </header>
    <div class="bg0 m-t-23 p-b-140">
        <div class="container">


            <div class="row isotope-grid">

                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item women">
                        <!-- Block2 -->
                        <div class="block2">
                            <div class="block2-pic hov-img0">
                                <img src="@item.ImageUrl" width="400" height="300" alt="IMG-PRODUCT">

                                <a class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04 " target="_blank">
                                    Quick View
                                </a>
                            </div>

                            <div class="block2-txt flex-w flex-t p-t-14">
                                <div class="block2-txt-child1 flex-col-l ">
                                    <a @* asp-controller="Product" asp-action="Get" asp-route-id="@Model.ProductId" *@ class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                        @item.Name
                                    </a>


                                </div>



                            </div>
                        </div>
                    </div>
                }


            </div>


        </div>
    </div>


    <!-- Footer -->
    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!-- Modal1 -->




</body>
