<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewBag.Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <partial name="Partials/_Head" />

</head>
<body class="animsition">
	
<!-- Header -->
	<partial name="Partials/_Navbar" />
	<!-- Cart -->
	
	@RenderBody()

	<!-- Footer -->
	<partial name="Partials/_Footer" />


	<!-- Back to top -->
	<div class="btn-back-to-top" id="myBtn">
		<span class="symbol-btn-back-to-top">
			<i class="zmdi zmdi-chevron-up"></i>
		</span>
	</div>

	<!-- Modal1 -->



	<partial name="Partials/_JQuery" />
<partial name="Partials/_Scripts" />

	@RenderSectionAsync("Scripts", required: false)
</body>
</html>
                

