@model UserForRegisterDto

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up </title>

    <link rel="stylesheet" href="/LoginAndRegisterTemplate/fonts/material-icon/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="/LoginAndRegisterTemplate/css/style.css">
</head>
<body>

    <div class="main">

        <section class="signup">
            <div class="container">
                <div class="signup-content">
                    <div class="signup-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" asp-controller="User" asp-action="Register" id="register-form">

                            <div class="form-group">
                                <label asp-for="FirstName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <br />
                                <input type="text" asp-for="FirstName" placeholder="Your Name"/>
                                <br />
                                <span asp-validation-for="FirstName"  style="color: red;"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="LastName"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <br />
                                <input type="text" asp-for="LastName" placeholder="Your Lastname"/>
                                <br />
                                <span asp-validation-for="LastName" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Email"><i class="zmdi zmdi-account material-icons-name"></i></label>
                                <br />
                                <input type="email" asp-for="Email" placeholder="Your Email"/>
                                <br />
                                <span asp-validation-for="Email" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="Password"><i class="zmdi zmdi-lock"></i></label>
                                <br />
                                <input type="password" asp-for="Password" placeholder="Password"/>
                                <br />
                                <span asp-validation-for="Password" style="color: red;"></span>

                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmPassword"><i class="zmdi zmdi-lock-outline"></i></label>
                                <br />
                                <input type="password" asp-for="ConfirmPassword" placeholder="Repeat your password"/>
                                <br />
                                <span asp-validation-for="ConfirmPassword" style="color: red;"></span>

                            </div>

                            <div class="form-group form-button">
                                <input type="submit" class="form-submit" value="Register"/>
                            </div>
                        </form>
                    </div>
                    <div class="signup-image">
                        <figure><img src="/LoginAndRegisterTemplate/images/signup-image.jpg" alt="sing up image"></figure>
                        <a asp-controller="User" asp-action="Login" class="signup-image-link">I am already member</a>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <!-- JS -->
    <script src="/LoginAndRegisterTemplate/vendor/jquery/jquery.min.js"></script>
    <script src="/LoginAndRegisterTemplate/js/main.js"></script>
</body>
</html>




