<title>Home</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
<link rel="icon" type="image/png" href="/cozastore-master/images/alalım.com.png" />
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/fonts/iconic/css/material-design-iconic-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/fonts/linearicons-v1.0.0/icon-font.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/animate/animate.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/css-hamburgers/hamburgers.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/animsition/css/animsition.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/select2/select2.min.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/daterangepicker/daterangepicker.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/slick/slick.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/MagnificPopup/magnific-popup.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/vendor/perfect-scrollbar/perfect-scrollbar.css">
<!--===============================================================================================-->
<link rel="stylesheet" type="text/css" href="/cozastore-master/css/util.css">
<link rel="stylesheet" type="text/css" href="/cozastore-master/css/main.css">
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>

<link rel="icon" href="/pluto-1.0.0/images/fevicon.png" type="image/png" />
<!-- bootstrap css -->
<link rel="stylesheet" href="/pluto-1.0.0/css/bootstrap.min.css" />
<!-- site css -->
<link rel="stylesheet" href="/pluto-1.0.0/style.css" />
<!-- responsive css -->
<link rel="stylesheet" href="/pluto-1.0.0/css/responsive.css" />
<!-- color css -->
<link rel="stylesheet" href="/pluto-1.0.0/css/color_2.css" />
<!-- select bootstrap -->
<link rel="stylesheet" href="/pluto-1.0.0/css/bootstrap-select.css" />
<!-- scrollbar css -->
<link rel="stylesheet" href="/pluto-1.0.0/css/perfect-scrollbar.css" />
<!-- custom css -->
<link rel="stylesheet" href="/pluto-1.0.0/css/custom.css" />