@using System.Security.Claims




<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">

                <!-- Logo desktop -->
                <a href="/" class="logo">
                    <img src="/cozastore-master/images/alalım.com.png" width="300" height="150" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="/">Home</a>

                        </li>

                        <li>
                            <a asp-area="" asp-action="Index" asp-controller="Product">Products</a>
                        </li>

                        <li class="label1" data-label1="hot">
                            <a asp-controller="Category" asp-action="Index" asp-area="">Categories</a>
                        </li>

                        <li>
                            <a asp-area="" aria-current="page" asp-page="/Contact">Contact</a>
                        </li>


                    </ul>
                    <ul class="user_profile_dd ">
                        <li>
                            @{
                                if (User.Identity.IsAuthenticated && User.Identity is ClaimsIdentity claimsIdentity)
                                {
                                    <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="/pluto-1.0.0/images/layout_img/user_img.jpg" width="150" height="150" alt="#" /></a>


                                    string? name = null;
                                    string? surname = null;
                                    if (claimsIdentity != null)
                                    {
                                        var nameClaim = claimsIdentity.FindFirst(ClaimTypes.Name);

                                        var surnameClaim = claimsIdentity.FindFirst(ClaimTypes.Surname);

                                        if (nameClaim != null && surnameClaim != null)
                                        {
                                            name = nameClaim.Value;
                                            surname = surnameClaim.Value;
                                            
                                        }
                                    }



                                    <div class="dropdown-menu container" style="width:min-content; background-color:ButtonFace;">
                                        <a class="dropdown-item" href="#">@name  @surname</a>
                                        @{
                                            if (User.IsInRole("Admin"))
                                            {
                                                <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
                                            }
                                        }

                                        <a class="dropdown-item" asp-controller="Address" asp-action="Index">My Addresses</a>
                                        <a class="dropdown-item" asp-controller="Order" asp-action="Index">My Orders</a>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Logout"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                                    </div>
                                }
                                else
                                {
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Login"><span>Log In</span> <i class="fa fa-sign-in"></i></a>
                                }
                            }

                        </li>
                    </ul>

                </div>


                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">


                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti "
                         data-notify="@await Component.InvokeAsync("CartSummary")">
                        <a style="text-decoration-color:revert" asp-controller="MyCart" asp-action="Index"> <i class="zmdi zmdi-shopping-cart"></i></a>

                    </div>

                    <a asp-controller="Favorite" asp-action="GetFavorites" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" >
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>

                </div>
            </nav>
        </div>
    </div>

    <!-- Header Mobile -->
    <div class="wrap-header-mobile">
        <!-- Logo moblie -->
        <div class="logo-mobile">
            <a href="/"><img src="/cozastore-master/images/alalım.com.png" alt="IMG-LOGO"></a>
        </div>
        <div>


            <ul class="user_profile_dd ">
                <li>
                    @{
                        if (User.Identity.IsAuthenticated && User.Identity is ClaimsIdentity claimsIdentity2)
                        {
                            <a class="dropdown-toggle" data-toggle="dropdown"><img class="img-responsive rounded-circle" src="/pluto-1.0.0/images/layout_img/user_img.jpg" width="75" height="75" alt="#" /></a>


                            string? name = null;
                            string? surname = null;
                            if (claimsIdentity2 != null)
                            {
                                var nameClaim = claimsIdentity2.FindFirst(ClaimTypes.Name);

                                var surnameClaim = claimsIdentity2.FindFirst(ClaimTypes.Surname);

                                if (nameClaim != null && surnameClaim != null)
                                {
                                    name = nameClaim.Value;
                                    surname = surnameClaim.Value;

                                }
                            }



                            <div class="dropdown-menu container" style="width:min-content; background-color:ButtonFace;">
                                <a class="dropdown-item" href="#">@name  @surname</a>
                                @{
                                    if (User.IsInRole("Admin"))
                                    {
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Admin Panel</a>
                                    }
                                }

                                <a class="dropdown-item" asp-controller="Address" asp-action="Index">My Addresses</a>
                                <a class="dropdown-item" asp-controller="Order" asp-action="Index">My Orders</a>
                                <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Logout"><span>Log Out</span> <i class="fa fa-sign-out"></i></a>
                            </div>
                        }
                        else
                        {
                            <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="Login"><span>Log In</span> <i class="fa fa-sign-in"></i></a>
                        }
                    }

                </li>
            </ul>
        </div>
        <!-- Icon header -->
        <div class="wrap-icon-header flex-w flex-r-m m-r-15">

           

            <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti "
                 data-notify="@await Component.InvokeAsync("CartSummary")">
                <a style="text-decoration-color:revert" asp-controller="MyCart" asp-action="Index"> <i class="zmdi zmdi-shopping-cart"></i></a>

            </div>

            <a asp-controller="Favorite" asp-action="GetFavorites" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" >
                <i class="zmdi zmdi-favorite-outline"></i>
            </a>
        </div>

        <!-- Button show menu -->
        <div class="btn-show-menu-mobile hamburger hamburger--squeeze">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </div>
    </div>


    <!-- Menu Mobile -->
    <div class="menu-mobile">


        <ul class="main-menu-m">
            <li class="active-menu">
                <a href="/">Home</a>

            </li>

            <li>
                <a asp-action="Index" asp-controller="Product">Products</a>
            </li>

            <li class="label1" data-label1="hot">
                <a asp-controller="Category" asp-action="Index">Categories</a>
            </li>

            <li>
                <a aria-current="page" asp-page="/Contact">Contact</a>
            </li>
        </ul>
    </div>

    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">

            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <a href="/"> <img src="/cozastore-master/images/alalım.com.png" alt="CLOSE"></a>

            </button>

           

        </div>
    </div>
</header>
